<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <form @submit.prevent="submitForm">
        <div class="mb-3">
          <label for="brandcode" class="form-label">Brand Code:</label>
          <input type="text" id="brandcode" class="form-control" v-model="form.brandcode" required placeholder="Enter brand code">
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" class="form-control" v-model="form.username" required placeholder="Enter username">
        </div>

        <div class="mb-3">
          <label for="amount" class="form-label">Amount:</label>
          <input type="number" id="amount" class="form-control" v-model="form.amount" min="1" required placeholder="Enter amount">
        </div>

        <div class="mb-3">
          <label for="agent" class="form-label">Agent:</label>
          <input type="text" id="agent" class="form-control" v-model="form.agent" required placeholder="Enter agent name">
        </div>

        <div class="mb-3">
          <label for="ip" class="form-label">IP Address:</label>
          <input type="text" id="ip" class="form-control" v-model="form.ip" required placeholder="Enter IP address">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  data() {
    return {
      form: {
        brandcode: '',
        username: '',
        amount: '',
        agent: '',
        ip: ''
      }
    };
  },
  methods: {
    async submitForm() {
      try {
        await axios.post('https://ggapi-uat.5k2an3or4q209.xyz/ggapi/deposit', this.form);
        // Handle success, show success message, etc.
      } catch (error) {
        console.error('Error depositing:', error);
        // Handle error, show error message, etc.
      }
    }
  }
};
</script>

<style scoped>
/* Add custom CSS styles here if needed */
</style>
