  <template>
    <div>
      <button @click="getToken">Get Token</button>
      <div v-if="token">{{ token }}</div>
      <div v-if="error">{{ error }}</div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'GetToken',
    data() {
      return {
        token: null,
        error: null
      };
    },
    methods: {
      async getToken() {
        try {
          const response = await axios.post('https://ggapi-uat.5k2an3or4q209.xyz/ggapi/gettoken', {
            brandcode: 'THB1',
            agent: 'thbapi',
            agentKey:'DkZa23CzW5miIe44B9fMOA=='
          });
          this.token = response.data.token; // Assuming the token is returned in response data
        } catch (error) {
          this.error = 'Error getting token: ' + error.message;
        }
      }
    }
  }
  </script>
  