<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <h2 class="mb-4">Login</h2>
      <form @submit.prevent="login">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" class="form-control" v-model="formData.username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" v-model="formData.password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      formData: {
        brandcode: 'THB1', // Assuming 'GAPI' is a constant value
        username: '',
        password: '',
        ip: '127.0.0.1' // Assuming '127.0.0.1' is a constant value
      }
    };
  },
  methods: {
    async login() {
      try {
        const response = await axios.post('https://ggapi-uat.5k2an3or4q209.xyz/ggapi/login', this.formData);
        console.log('Login successful:', response.data);
      } catch (error) {
        console.error('Error logging in:', error);
      }
    }
  }
};
</script>

<style scoped>
/* Component-specific CSS styles here */
</style>
