<template>
  <div id="app">
    <header>
      <h1>My App Header</h1>
      <!-- Navigation links -->
      <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/register">Register</router-link>
        <router-link to="/deposit">Deposit</router-link>
        <router-link to="/withdrawal">Withdrawal</router-link>
        <router-link to="/login">Login</router-link>
        
        <!-- Add more navigation links as needed -->
      </nav>
    </header>

    <main>
      <!-- Main content area -->
      <router-view></router-view>
    </main>

    <footer>
      <p>My App Footer</p>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'MainLayout',
  compatConfig: { MODE: 3 }
};
</script>

<style>
/* Add your CSS styles for the layout here */
#app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 10px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
</style>
