<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <form @submit.prevent="submitForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" class="form-control" v-model="form.username" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" v-model="form.password" required>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" class="form-control" v-model="confirmPassword" required>
        </div>

        <div class="form-group">
          <label for="accountName">Account Name:</label>
          <input type="text" id="accountName" class="form-control" v-model="form.accountname" required>
        </div>

        <div class="form-group">
          <label for="accountNumber">Account Number:</label>
          <input type="text" id="accountNumber" class="form-control" v-model="form.accountnumber" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      form: {
        brandcode: 'THB1',
        username: '',
        password: '',
        currencycode: 'THB',
        bankid: 71,
        accountname: 'THB1 Member 02 Bank',
        accountnumber: '3245999538',
        ip: '127.0.0.1'
      },
      confirmPassword: ''
    };
  },
  methods: {
    submitForm() {
      if (!this.form.username || !this.form.password || !this.form.accountname || !this.form.accountnumber) {
        alert('Please fill in all fields.');
        return;
      }
      if (this.form.password !== this.confirmPassword) {
        alert('Passwords do not match.');
        return;
      }
      if (!this.isStrongPassword(this.form.password)) {
        alert('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.');
        return;
      }
      // Submit form data
      console.log('Form submitted:', this.form);
    },
    isStrongPassword(password) {
      const strongPasswordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{"':;?/>,<.]).{8,}$/;
      return strongPasswordRegex.test(password);
    }
  },

  async submitForm() {
      try {
        await axios.post('https://ggapi-uat.5k2an3or4q209.xyz/ggapi/register', this.form);
        this.submitted = true;
      } catch (error) {
        console.error('Error registering:', error);
      }
    }
};
</script>

<style>
/* Add your custom styles here */
</style>

 
