
<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <form @submit.prevent="submitForm">
        <div class="form-group">
          <label for="brandcode">Brand Code:</label>
          <input type="text" id="brandcode" class="form-control" v-model="form.brandcode" required placeholder="Enter brand code">
          <small class="form-text text-muted">Enter brand code.</small>
        </div>

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" class="form-control" v-model="form.username" required placeholder="Enter username">
          <small class="form-text text-muted">Enter your username.</small>
        </div>

        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" id="amount" class="form-control" v-model="form.amount" min="1" required placeholder="Enter amount">
          <small class="form-text text-muted">Enter the amount to withdraw.</small>
        </div>

        <div class="form-group">
          <label for="agent">Agent:</label>
          <input type="text" id="agent" class="form-control" v-model="form.agent" required placeholder="Enter agent name">
          <small class="form-text text-muted">Enter the agent name.</small>
        </div>

        <div class="form-group">
          <label for="ip">IP Address:</label>
          <input type="text" id="ip" class="form-control" v-model="form.ip" required placeholder="Enter IP address">
          <small class="form-text text-muted">Enter your IP address.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      
      form: {
        brandcode: 'THB1',
        username: '',
        amount: '',
        agent: 'thbapi',
        ip: '127.0.0.1'
      }
    };
  },
  methods: {
    async submitForm() {
      try {
        await axios.post('https://ggapi-uat.5k2an3or4q209.xyz/ggapi/withdrawal', this.form);
        // Handle success, show success message, etc.
      } catch (error) {
        console.error('Error withdrawing:', error);
        // Handle error, show error message, etc.
      }
    }
  }
};
</script>

<style scoped>
/* Add custom CSS styles here if needed */
</style>
