<!-- views/HomePage.vue -->
<template>
    <div>
      <h1>Welcome to Your App!</h1>
      <!-- Add content for your default page here -->
    </div>
  </template>
  
  <script>
  export default {
    // Component logic here
  };
  </script>
  
  <style scoped>
  /* Component-specific CSS styles here */
  </style>
  