<template>
  <div>
    <h1>Register Page</h1>
    <RegisterForm @register="handleRegister" />
  </div>
</template>

<script>
import RegisterForm from '@/components/RegisterForm.vue'; // Adjust the path as needed

export default {
  components: {
    RegisterForm
  },
  methods: {
    handleRegister(formData) {
      // Here you can handle the registration logic using the form data submitted by the RegisterForm component
      console.log('Form data:', formData);
      // You can perform API calls or any other necessary actions here
    }
  }
};
</script>

<style scoped>
/* Component-specific CSS styles here */
</style>
